
.main{
    .dottedSpinner{
        position: absolute !important;
        width: 300px!important;
        height: 200px!important;
        z-index: 15!important;
        top: 45%!important;
        left: 45%!important;
        .css-1w1pvur{
            .css-1uzbm8n{
                .css-rf0ln7{
                    border: 10px solid lightgreen !important;
                }
                .css-ftcp8z{
                    border: 10px solid lightgreen !important;
                }
            }
        }
    }
}